body {
    font-family: 'Arial', sans-serif;
    background-color: #a0454546;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    user-select: none;
}

h2{
    text-align: center;
}

form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #a04545;
}

input,
button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #af4c4c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #a04545;
}

.submit-details {
    display: none;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submitted {
    font-weight: bold;
    color: #a04545;
}

.confirmSection {
    display: none;
    margin-top: 20px;

}

.confirmed {
    display: none;
    font-weight: bold;
    color: #4caf50;
}
